<head>
    <title>{{page.title}}</title>
    <meta name="description" content={{page.desc}}>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/javascript">
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
    };
    </script>
    <link rel="icon" href="./favicon.ico">
</head>

<body>
    <div>
        {{content}}
    </div>
    <div>
        <a href="../index.html">戻る</a>
    </div>
</body>
